body{
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 90%;
}

.flex{
    display: flex;
}

header{
    position: relative;
    height:500px;
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
}

/* .bg_overlay{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height:100%;
} */
.center{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
   
}
.center h3{
    color: white;
}
.center div:first-child{
    width: 20%;
}
.center div:first-child img{
    width: 100%;
}
.forward{
     position: absolute;
    width: 100%;
    height:100%;
    z-index:999;
}
.input__container{
    width: 50%;
}
.input__container .input__format{
    border-radius: 10px ;
    width: 100%;
}