body{
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 90%;
}

.flex{
    display: flex;
}

header{
    position: relative;
    height:500px;
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
}
.mt-32{
    margin-top: 2em;/*32px;*/
}
.bg_overlay{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    height:100%;
    left: 0;
    top:0;
}
.center{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

}
.center h3{
    color: white;
}
.center div:first-child{
    width: 20%;
}
.center div:first-child img{
    width: 100%;
}
.forward{
    position: absolute;
    z-index: 10;
    width: 100%;
}
.input__container{
    width: 50%;
}
.input__container .input__format{
    border-radius: 10px ;
    width: 100%;
    padding: 15px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card{
    border-radius: 20px;
    border: 1px solid #b6b6b6;
}
.card_header{
    height: 4em;
    background-image: url("https://b.zmtcdn.com/webFrontend/95f005332f5b9e71b9406828b63335331585809309.png");
}

.card_body{
    padding:1em;
}
